<!DOCTYPE html>
<html>
<head>
	<title>Add Item Page Admin</title>
</head>
<body>
	<form action= '' method='POST' enctype="multipart/form-data">

		<fieldset>
			<legend>Product Details</legend><br><br>
			

			
	

			
			Name:<br>
			<input type= "text" name="pname"><br>
			Price:<br>
			<input type= "text" name="pprice"><br>
			Brand:<br>
			<input type= "text" name="pbrand"><br>
			Color:<br>
			<input type= "text" name="pcolor"><br>
			Size:<br>
			<input type= "text" name="psize"><br>
			Image:<br>
			<input type= "text" name="pimage"><br>
			Count:<br>
			<input type= "text" name="pcount"><br>
			
			<input type= "submit" value= "Submit Product">
	
			
		</fieldset>
	</form>

</body>
</html>