<!DOCTYPE html>
<html>
<head>
	<title>buy</title>
</head>
<body>
	<form action="" method="POST" enctype="multipart/form-data">

			<fieldset>
			<legend>BUY</legend>

			PURCHASE:<br><br>

			Quantity:<br>
			<input type="text" name="Quantity" ><br>
			Address:<br>
			<input type="text" name="Address" ><br>
			Contact:<br>
			<input type="text" name="Contact" ><br>
			
			<input type="submit" value= "Buy" ><br>
			</form>
<form>
			<input type="submit" value= "Shop_More" formaction="/common" >
			<br>
			<center>{{v}}</center>
</form>
			</fieldset>


</body>
</html>