
<ol>


  <li style=" display:block;width:100%; clear:both;"> <h3>T-shirt </h3>
  <img src = "/Static/tshirt.jpg" style="width:304px;height:228px; float:left;"> 
  <p>Price <br><br> Brand: Polo <br><br> Color: White <br><br>Size: Large <br><br>
  <button type="button" name="b1" >Buy Product</button> </li>
  <br>

  <li style="display:block;width:100%; clear:both;"> <h3>Shoes </h3>
  <img src = "/Static/shoes.jpg" style="width:304px;height:228px; float:left;"> 
  <p>Price: Rs.2000 <br><br> Brand: Armani <br><br> Color: Black <br><br>Size: 10 <br><br>
  <button type="button" name="b2" >Buy Product</button> </li>
  <br>
  
  <li style="display:block;width:100%; clear:both;"> <h3>Watch </h3>
  <img src = "/Static/watch.jpg" style="width:304px;height:228px; float:left;"> 
  <p>Price: Rs.5000 <br><br> Brand: Titan <br><br> Color: Silver <br><br>Size: Standard <br><br>
  <button type="button" name=b3 >Buy Product</button> </li>
  <br>
  
  <li style="display:block;width:100%; clear:both;"> <h3>Jeans </h3>
  <img src = "/Static/jeans.jpg" style="width:304px;height:228px; float:left;"> 
  <p>Price: Rs.3000 <br><br> Brand: Levis <br><br> Color: Blue <br><br>Size: 34 <br><br>
  <button type="button" name=b4 >Buy Product</button> </li>
  <br>

  <li style="display:block;width:100%; clear:both;"> <h3>Wallet </h3>
  <img src = "/Static/wallet.jpg" style="width:304px;height:228px; float:left;"> 
  <p>Price: Rs.2000 <br><br> Brand: Tommy Hilfiger <br><br> Color: Brown <br><br>Size: Standard <br><br>
  <button type="button" name=b5 >Buy Product</button> </li>
  <br>
  

</ol> 